$gray: #4a4a4a;
$white: #ffffff;
$green: #2ec4b6;
$oragne: #ee2f28; // maybe another red?
$yellow: #f5b42b;
$light-red: #ab1e22;
$red: #660d0e;

// wrapper max-widths
$sm: 720px;
$md: 960px;
$lg: 1280px;
$xl: 1800px;

// border section
$radius: 5px;

// box shadow
$shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);

// button colors:
$success-button: #4caf50;
