$gray: #4a4a4a;
$white: #ffffff;
$green: #2ec4b6;
$light-green: #4caf50;
$lighter-red: #ee2f28;
$yellow: #f5b42b;
$light-red: #ab1e22;
$red: #660d0e;

// wrapper max-widths
$sm: 720px;
$md: 960px;
$lg: 1280px;
$xl: 1800px;

// border section
$radius: 5px;

// box shadow
$shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);

// button colors:
$success-button: $light-green;

// fibonacci factor:
$fibonacci-factor: 1.618;

// cards colors
$card-orange: #fb8b23;
$card-grey: #d3d3d3;
$card-green: #00aa00;
$card-black: black;
$card-red: $lighter-red;
$card-pink: #ffb6c1;
$card-brown: #a0522d;
$card-blue: #8fd3fe;
$card-none: white;
