@import '../../shared/styles/variables.scss';

.menu {
  width: 100%;
  background: linear-gradient(90deg, $red 0%, $light-red 50%, $red 100%);
  padding: 20px 0 20px 0;
  border-radius: 0 0 5px 5px;
  color: $white;

  a,
  a:hover {
    text-decoration: none;
    color: $white;
    cursor: pointer;
  }
}

.logo {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.icon {
  path {
    fill: $white;
  }
}

.out-links {
  display: flex;
  height: 30px;
  width: 120px;
  justify-content: space-between;
}

.exploading {
  color: $yellow;
}
