@import '../../shared/styles/variables.scss';

.list-item {
  border-bottom: 1px solid $gray;
  padding-bottom: 10px;

  &:last-child {
    border-bottom: none;
  }

  &.no-border {
    border: none;
  }
}
