@import '../../shared/styles/variables.scss';

@mixin button-standard {
  cursor: pointer;
  border-radius: $radius;
  padding: 10px 20px;
  border: none;
  height: 50px;
}

@function button-border($color) {
  @return 2px solid $color;
}

.none {
  background: transparent;
  border: none;
}

.primary {
  background-color: $white;
  border: button-border($gray);

  @include button-standard;
}

.success {
  background-color: $success-button;

  @include button-standard;
}

.filled {
  color: $white;
}
